<div class="max-w-md mx-auto mt-6">
  <h1 class="text-xl font-bold text-center text-gray-800 mb-10">Change your password</h1>
  <%= f = form_for @form, "#" %>
    <div class="">
      <%= label(f, :password, "New Password") %>
      <%= password_input f, :password %>
    <p>
      <%= label(f, :password, "Confirm New Password") %>
      <%= password_input f, :password_confirm %>

    </div>
    <button phx-disable-with="sending..." type="submit">Reset</button>
  </form>
</div>
