
<div class="ml-12 mt-1">
  <%= live_redirect to: "/post/"<> e(@object, :id, "")  do %>
    <div class="max-w-prose">
      <%= e(@object, :post_content, :summary, e(@object, :post_content, :html_body, "...")) %>
    </div>
  <% end %>
</div>
