<div class="flex flex-col">
    <!-- <%# = live_component(@socket, Bonfire.UI.Social.HeaderUserLive, assigns_clean(assigns)) %> -->
    <div class="">
    <div class="flex mx-auto place-content-center xl:max-w-screen-xl">
        <%= live_component(@socket, Bonfire.UI.Social.SettingsViewLive.SidebarSettingsLive, assigns_clean(assigns)) %>
        <div class="">
        <div class="flex-1 xl:mr-4">
            <%= @inner_content %>
        </div>
        </div>
    </div>
    </div>
</div>
