<div id="empty-template-live">
  <%# live_component(@socket, Bonfire.UI.Social.EmptyTemplateLive, current_user: current_user(assigns), page: e(assigns, :page, ""), inner_content: e(assigns, :inner_content, nil)) %>
  <Bonfire.UI.Social.EmptyTemplateLive.render
    __context__={%{}}
    current_user={current_user(assigns)}
    page={e(assigns, :page, "")}
    inner_content={@inner_content}
  />
</div>
