<div id="full-template-live" class="overscroll-y-none">
  <%= live_component(@socket, Bonfire.UI.Social.FullTemplateLive, current_user: e(assigns, :current_user, nil), page: e(assigns, :page, ""), inner_content: e(assigns, :inner_content, nil)) %>
</div>
