<div id="full-template-live" class="overscroll-y-none">
  <%# live_component(@socket, Bonfire.UI.Social.FullTemplateLive, current_user: current_user(assigns), page: e(assigns, :page, ""), inner_content: e(assigns, :inner_content, nil)) %>
  <Bonfire.UI.Social.FullTemplateLive.render
    __context__={%{}}
    current_user={current_user(assigns)}
    page={e(assigns, :page, "")}
    inner_content={@inner_content}
  />
</div>
