<div id="without-sidebar-live">
  <%# live_component(@socket, Bonfire.UI.Social.WithoutSidebarLive, current_user: current_user(assigns), page: e(assigns, :page, ""), inner_content: e(assigns, :inner_content, nil)) %>
  <Bonfire.UI.Social.WithoutSidebarLive.render
    __context__={%{}}
    current_user={current_user(assigns)}
    current_account={current_account(assigns)}
    page={e(assigns, :page, "")}
    inner_content={@inner_content}
  />
</div>
