
<div class="h-screen overflow-hidden">
  <%= live_component(@socket, Bonfire.UI.Social.HeaderLive, assigns) %>
  <div class="h-screen overflow-y-auto">
    <div class="container flex max-w-screen-xl mx-auto">
      <div class="flex flex-col flex-1 w-0">
        <div class="container mx-auto mb-16">
          <div class="p-4 lg:p-0">
            <%= @inner_content %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
