<div class="p-4 border-b float-none">
<%= for component <- @activity_object_components do %>
  <%=
  case component do

  {module, component_assigns} ->
    live_component(
      @socket,
      module,
      assigns
      |> assigns_merge(component_assigns)
    )

  module ->

    live_component(
      @socket,
      module,
      assigns
    )

  end
   %>
<% end %>
</div>
