<div class="bg-white">
  <%= live_component(@socket, Bonfire.UI.Social.ProfileHeroFullLive, assigns) %>
  <%= live_component(@socket, Bonfire.UI.Social.ProfileNavigationLive, assigns) %>
  <%= live_component(@socket, Bonfire.UI.Social.FeedLive, assigns) %>
</div>
