<mjml>
  {e(assigns, :profile, :name, nil) || e(assigns, :activity, :subject, :profile, :name, nil)} - @{e(
    assigns,
    :character,
    :username,
    nil
  ) || e(assigns, :activity, :subject, :character, :username, nil)}: {assigns[:thread_title]}
</mjml>
