<mjml>
  {e(assigns, :profile, :name, nil) || e(assigns, :character, :username, nil)}

  {raw(
    Bonfire.Social.Activities.experience_display(assigns[:experienced_as], %{
      object: assigns[:object]
    })
  )}
</mjml>
