<mjml>
  {e(assigns, :profile, :name, nil) || e(assigns, :activity, :subject, :profile, :name, nil)} - @{e(
    assigns,
    :character,
    :username,
    nil
  ) || e(assigns, :activity, :subject, :character, :username, nil)} · {Bonfire.Common.DatesTimes.format_date(
    Bonfire.Common.DatesTimes.date_from_pointer(assigns[:object])
  )}: {assigns[:thread_title]}
</mjml>
