<%= e(assigns, :profile, :name, nil) || e(assigns, :character, :username, nil) %> <%= email_phrase(assigns) %> · <%= Bonfire.Common.DatesTimes.format_date(Bonfire.Common.DatesTimes.date_from_pointer(assigns[:activity])) %>