<%= unless email_about_reader?(assigns) do %><%= email_name(assigns) %> @<%= email_username(assigns) %> · <%= Bonfire.Common.DatesTimes.format_date(Bonfire.Common.DatesTimes.date_from_pointer(assigns[:object])) %><%= if assigns[:thread_title] do %>: <%= assigns[:thread_title] %><% end %><% end %>